.mypage-container {
    width: 80%;
    margin: 30px auto;
}

.user-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.user-info .right {
    text-align: left;
    padding-right: 400px;
    margin-top: 40px;
}

.create-btn {
    margin-bottom: 10px;
}

.create-btn-wrap {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
